body {
    background-color: #ecc4d6;
    color: white; 
    padding-top: 50px; 
    margin: 0;
    text-align: center;
    align-items: center;
    border: 7px solid black;  
    box-sizing: border-box;
    font-family: "Pixelify Sans", serif;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px; 
    color: #f5579e;
    text-shadow: #f5579e;
}

.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-top: 30px; 
    margin-bottom: 30px;
}

.button-container button {
    padding: 15px 40px;  /* Add padding to control the size */
    font-size: 20px;     /* Control the font size */
    margin: 15px; 
    cursor: pointer;
    background-color: #9882c8; 
    color: black;
    border: 2px solid #000;  /* Add a solid black outline */
    border-radius: 25px; 
    transition: background-color 0.3s ease; 
    width: 250px;   /* Fixed width for all buttons */
    height: 60px;   /* Fixed height for all buttons */
    font-family: "Pixelify Sans", serif;
}

.button-container button:hover {
    background-color: #477c84; 
    border: 2px solid #666;  /* Outline changes color on hover */
}


/* Circle for the profile picture */
.circle {
    width: 200px;
    height: 200px;
    margin: 30px auto; 
    border-radius: 50%; 
    overflow: hidden; 
    border: 1px solid black; 
    cursor: pointer;
}

/* Image inside the circle */
.circle img {
    width: 100%; 
    height: 100%;
    object-fit: cover; /* Ensures the image fills the circle properly */
}

/* Hide the file input */
.file-input {
    display: none; /* Hide the file input element */
}

.progress-bar {
    width: 400px;
    height: 20px; /* Adjust height */
    background-color: #f0f0f0;
    height: 30px;
    border-radius: 12px;
    margin-bottom: 50px;
    padding: 10px;
    align-items: center;
    justify-content: center;
  
  }
  
  .progress {
    width: 0px;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease;
    border-radius: 12px;
    left: 0;
    position: relative;
    overflow: hidden; /* Prevents overflow issues */
  }
  
  .progress-group {
      text-align: center;
      display: flex;
      flex-direction: column; 
      align-items: center; 
      justify-content: center;
    color: black;
    }
  
    .progress-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      font-family: "Pixelify Sans", serif;
      font-optical-sizing: auto;
     
    }
  
  
